@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="page">
    <main>
        <OrientalSweets.Pages.AppBar/>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
