@page "/"


<div style="margin:50px"></div>

<MudGrid>
    <MudItem xs="12" sm="3">
        <MudCard>
            <MudCardMedia Image="/image/1.jpg" Height="400" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Песочная Ассорти 1/400 гр.</MudText>
                <MudText Typo="Typo.h5">Цена: 20000 сум</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="3">
        <MudCard>
            <MudCardMedia Image="image/2.jpg" Height="400" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Заварное крем 1/300 гр</MudText>
                <MudText Typo="Typo.h5">Цена: 17000 сум</MudText>

            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="3">
        <MudCard>
            <MudCardMedia Image="../image/3.jpg" Height="400" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Орешки со сгущенкой 1/500гр </MudText>
                <MudText Typo="Typo.h5">Цена: 23500 сум</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="3">
        <MudCard>
            <MudCardMedia Image="../image/4.jpg" Height="400" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Песочная Мазза 1/400гр </MudText>
                <MudText Typo="Typo.h5">Цена: 22000 сум</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="12" sm="3">
        <MudCard>
            <MudCardMedia Image="../image/5.jpg" Height="400" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Песочная печенье 1/400гр</MudText>
                <MudText Typo="Typo.h5">Цена: 20000 сум</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="3">
        <MudCard>
            <MudCardMedia Image="../image/6.jpg" Height="400" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Лаззат с начинкой 1/400гр</MudText>
                <MudText Typo="Typo.h5">Цена: 20000 сум</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="3">
        <MudCard>
            <MudCardMedia Image="../image/7.jpg" Height="400" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Песочная Мазза (Робия) 1/400гр</MudText>
                <MudText Typo="Typo.h5">Цена: 22000 сум</MudText>
            </MudCardContent>
     
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="3">
        <MudCard>
            <MudCardMedia Image="../image/8.jpg" Height="400" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Ширин (картошка) 1/500гр</MudText>
                <MudText Typo="Typo.h5">Цена: 22000 сум</MudText>
            </MudCardContent>
      
        </MudCard>
    </MudItem>

    <MudItem xs="12" sm="3">
        <MudCard>
            <MudCardMedia Image="../image/9.jpg" Height="400" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Песочное печенье 1/400гр</MudText>
                <MudText Typo="Typo.h5">Цена: 20000 сум</MudText>
            </MudCardContent>
      
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="3">
        <MudCard>
            <MudCardMedia Image="../image/10.jpg" Height="400" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Торт Медовый 1/400гр</MudText>
                <MudText Typo="Typo.h5">Цена: 21000 сум</MudText>
            </MudCardContent>
         
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="3">
        <MudCard>
            <MudCardMedia Image="../image/11.jpg" Height="400" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Торт Наполеон 1/400гр</MudText>
                <MudText Typo="Typo.h5">Цена: 21000 сум</MudText>
            </MudCardContent>
           
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="3">
        <MudCard>
            <MudCardMedia Image="../image/12.jpg" Height="400" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Пахлава традиционные 1/500гр</MudText>
                <MudText Typo="Typo.h5">Цена: 26500 сум</MudText>
            </MudCardContent>
        
        </MudCard>
    </MudItem>
</MudGrid>

